.checkout {
  width: 100%;
  background: var(--white);
  margin-top: 20px;
  padding: 0 10px;
  border-radius: 5px;
}
.checkout h1 {
  font-size: 1rem;
  color: var(--black);
}
.checkout-total {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
}
.checkout-total h1{
  width: 70%;
}
.checkout-total button{
  font-family: 'Nunito', sans-serif;
  font-size: .8rem;
  background: var(--green);
  border: none;
  width: 20px;
  min-width: 100px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 0px 4px rgba(0,0,0,0.23);
}
.checkout-total button:hover{
  background: var(--darkgreen);
}
.donation {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 0px 4px rgba(0,0,0,0.23);
}
.donation:hover {
  box-shadow: 0 8px 8px rgba(0,0,0,0.19), 0 0px 5px rgba(0,0,0,0.23);

}
.donation-remove {
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 15%;
  min-width: 15%;
  padding-left: 10px;
}
.donation-remove img{
  background-color: var(--lightgrey);
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  border-radius: 100%;
  padding: 5px;
  z-index: 0;
}
.donation-remove img:hover {
  background-color: #aaa;
}
.donation-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  border-right: 1px solid var(--lightgrey);
}
.donation h1 {
  font-weight: 900;
  color: #444;
  margin: 0;
  align-self: center;
}
.donation h2 {
  margin: 0;
  color: #444;
  font-size: .8rem;
  font-weight: 300;
}
.donation-cost {
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 10px;
  width: 25%;
  min-width: 25%;
}
